
@section scripts{
    @Html.Partial("DefineAngular")
    <script>
        System.import('app/bootHome');
    </script>
}
<home class="">
    <div class="waitloading">
        loading...
    </div>   
</home>

