
@section scripts{
    @Html.Partial("DefineAngular")
    <script>
        System.import('app/bootDonate');
    </script>
}
<donate class="">
    <div class="waitloading">
        loading...
    </div>
</donate>

